{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue  dans lilypond traveler
{% endblock %}
{% block content %}
<h1># lilypond-traveler</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : créer un peu de musique au retour dun voyage
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
<a href="/add_one_user"> add one user</a><a href="/add_one_gem_quest"> add one gem_quest</a><a href="/add_one_seasonal_sport"> add one seasonal_sport</a><a href="/add_one_place_visit"> add one place_visit</a><a href="/add_one_panomaric_view"> add one panomaric_view</a><a href="/add_one_job_offer"> add one job_offer</a><a href="/add_one_myscore"> add one myscore</a>
{% endblock %}

