{% extends 'base.html' %}{% block content %}<form  enctype="multipart/form-data" method="POST">
<div class="field"><label for="somefieldname">name</label><input type="text" id="somefieldname" name="name"/></div>
<div class="field"><label for="somefielddescription">description</label><input type="text" id="somefielddescription" name="description"/></div>
<div class="field"><label for="somefielduser_id">user_id</label><select id="somefielduser_id" name="user_id"><option value="novalue">no value</option>
{% for someuser in touslesuser %}
<option value="{{ someuser['id'] }}">{{ someuser['name'] }}</option>{% endfor %}
</select></div><div class="actions"><input type="submit"/></div></form>{% for x in job_offers %}{{x["name"] }}{% endfor %}{% endblock %}{% block liens %}<a href="/">bienvenue</a><a href="/add_one_job_offer"> add one job_offer</a>{% endblock %}